.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.ApP--logo {
  height: 8vh;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .ApP--logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app__header {
  background-color: #000;
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex: 0;
}

.AppLink {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.appmain {
  background: #fff;
  flex: 1;
  padding: 2vh 33vw;
}

.customButton{
 background: #000;
 padding: 5px 15px;
 color: #fff;
 border-radius: 8px;
 border: none;
 margin-top: 10px;
}